* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
}

.home a {
  font-size: 20px;
}

.home a:hover {
  transition: all 0.3s ease 0s;
  color: rgba(0, 136, 169, 1);
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links > ul > li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  display: block;
}

.nav__links li a:hover {
  color: #0088a9;
}

.drop {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  padding: 15px;
  list-style-type: none;
}

.drop > li > a{
  display: block;
  padding: 15px;
}

.nav__links li:hover .drop {
  display: block;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 1);
}

/* index */

.container-index {
  width: 70%;
  height: auto;
  margin: auto;
}

.banner {
  width: 100%;
  height: auto;
  margin: auto;
}

.banner img {
  width: 50%;
  height: auto;
  margin: auto;
  float: left;
}

.section {
  width: 30%;
  color: white;
  float: right;
  padding: 15px;
}
/* Services */
h1 {
  color: white;
  text-align: center;
}

/* contact */
.container-contact {
  width: 70%;
  margin: auto;
}
.table-contact {
  color: white;
  margin: 0 auto;
}

.table-contact input,
textarea {
  margin-top: 10px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 5px;
}
#btn-contact {
  color: black;
  background-color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}
