* {
  box-sizing: border-box;
  margin: 0;
  background-color: #24252a;
  font-family: sans-serif;
}
/* MAIN CONTAINER */
.container {
  width: 70%;
  height: auto;
  /* background-color: white; */
  margin: auto;
}

/* LOGO */

/* END LOGO */

/* NAVIGATION */
.home a {
  font-size: 20px;
}

.home a:hover {
  transition: all 0.3s ease 0s;
  color: rgba(0, 136, 169, 1);
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #aaa;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links > ul > li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  display: block;
}

.nav__links li a:hover {
  color: #0088a9;
}

/* @media (max-width: 600px){
  .nav__links > ul > li > a{
    display: inline;
  }
}
 */
.drop {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  padding: 15px;
  list-style-type: none;
}

.drop > li > a {
  display: block;
  padding: 15px;
}

.nav__links li:hover .drop {
  display: block;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 1);
}

/* INDEX */

/* BANNER */
.banner {
  /* width: 80%; */
  height: auto;
}

.banner img {
  width: 100%;
  height: auto;
}

/* CONTENT HOLDER */
/* .content-holder {
  background-color: white;
}
 */
.content {
  width: 100%;
  height: auto;
  padding: 15px;
  margin-top: 10px;
  /* background-color: white; */
  float: left;
  color: white;
  text-align: justify;
}

.content h1 {
  font-size: 1.5em;
  font-family: sans-serif;
}

.content p {
  font-family: sans-serif;
  font-size: small;
}

/* FOOTER */
.main-footer {
  /* background-color: black; */
  color: white;
  width: 100%;
  height: auto;
  padding: 25px;
}

.footer-box {
  width: 237.5px;
  height: auto;
  /* float: right; */
  font-family: sans-serif;
}

.footer-box > ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footer-box > ul > li > a {
  display: block;
  font-size: small;
  margin: 5px;
  color: white;
  text-decoration: none;
}

.copy{
  padding: 25px;
  color: #aaa;
}

.copy p{
  text-align: center;
}