<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="home">
          <a href="/">Home</a>
        </div>
        <nav class="nav__links">
          <ul>
            <li><a href="/services">Services</a>
              <ul class="drop">
                <li><a href="#">Service One</a></li>
                <li><a href="#">Service Two</a></li>
                <li><a href="#">Service Three</a></li>
              </ul>
            </li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <a class="cta" href="/contact"><button>Contact</button></a>
      </header>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
