<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <a href="#">
            <img src="#" alt="" />
          </a>
        </div>
        <div class="home">
          <a href="/">Home</a>
        </div>
        <div class="clearFix"></div>
        <nav class="nav__links">
          <ul>
            <li>
              <a href="#">Services</a>
              <ul class="drop">
                <li><a href="/service_one">Service One</a></li>
                <li><a href="/service_two">Service Two</a></li>
                <li><a href="/service_three">Service Three</a></li>
              </ul>
            </li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <a class="cta" href="/contact"><button>Contact</button></a>
      </header>
      <section class="banner">
        <img src="../static/img/banner1.png" alt="" />
      </section>
      <section class="content-holder">
        <article class="content">
          <h3>Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor
            quaerat minus excepturi neque quam commodi explicabo, repellat,
            possimus maiores voluptatum id accusantium ab iure atque veritatis
            architecto quae nobis?Dolorem nemo numquam consequuntur ipsum
            quisquam possimus neque soluta veniam rem ad velit aliquid et animi
            veritatis sit nulla magnam deleniti vero hic tempore iusto labore,
            quas est eveniet? Nemo.0
          </p>
        </article>
        <div class="clearFix"></div>
      </section>
      <footer class="main-footer">
        <div class="footer-box">
          <h3>Footer Menu</h3>
          <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
            <li><a href="#">home</a></li>
          </ul>
        </div>
        <div class="clearFix"></div>
      </footer>
      <div class="copy">
        <p>&copy; Copyright 2020 - All right reserved.</p>
      </div>
    </div>
  </body>
</html>
